@import url('https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap');

*{
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

/* Navigation */
nav {
  background-color: #C12127;
  color: rgba(255,255,255,0.8);
  padding: 15px 40px;;
  height: 30px;
  font-size: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav a {
  color: rgba(255,255,255,0.8);
  text-decoration: none;
}

nav ul {
  margin: 0 auto;
  width: 660px;
  display: flex;
  justify-content: space-between;
}

nav li{
  list-style-type: none;
  text-align: center;
}


/* Header */
.header {
  background: #20597A;
  background-image: url("images/city-scape.png");
  position: 0 0;
  repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 640px;
  position: relative;
  padding: 10px 40px;


}

.header-nav{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.header-nav > img{
  width: 9%;
  height: 9%;
}

/*Search Bar*/
.search-container {
  float: right;
  display: flex;
}

.search-container input {
  background: rgb(31, 82, 111);
  color: white;
  padding: 10.5px;
  font-size: 17px;
  border: 2px solid #406B8B;
  width: 1120px;
  align-self: stretch;
  font-size: 24px;
}

.search-container button {
  border: 2px solid #406B8B;
  background: rgb(31, 82, 111);
  color: white;
  float: right;
  padding: 16px 18px;
  font-size: 16px;
  cursor: pointer;
}

.search-container button:hover {
  background: #ccc;
  color: #C12127;
}

.access-text{
  display: flex;
  flex-direction: row;
  align-items: center;
}

.access-text > a, p{
  color: #C8DFF0;
  text-decoration: none;
  padding: 5px;
  font-size: 20px;
}

.access-text a:hover{
  color: #C63A3E;
}

.access-text img{
  width: 40px;
}

.header-content{
  width: 78%;
  margin: 8% auto;
  display: flex;
  flex-direction: column;
}

.header-content h1{
  color: white;
  font-size: 70px;
  font-weight: 300;
}
.header-content p{
  padding: 20px 0;
  width: 50%;
  font-size: 24px;
}
.header-content button{
  background: rgb(240, 146, 51);
  width: 20%;
  padding: 12px;
  border: none;
  border-radius: 25px;
  font-size: 22px;
  color: white;
}



/*Section 3*/
.red-text span{
  color: #D33A30;
}
